@model List<AssignRoleToUserViewModel>
@{
    ViewData["Title"] = "AssignRoleToUser";
}

<h1>Kullanıcıya Rol Atame</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AssignRoleToUser" asp-route-userId="@ViewBag.UserId" class="" method="post">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" asp-for="@Model[i].HasRoleExist" />
                    <label class="form-check-label" for="exampleCheck1">@Model[i].Name</label>
                    <input type="hidden" asp-for="@Model[i].Name" />
                    <input type="hidden" asp-for="@Model[i].Id" />
                </div>



            }
            <div class="form-group mt-3">
                <input type="submit" value="Rol Ata" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-4">
    <a asp-controller="Home" asp-action="UserList">Kullanıcı Listesine Geri Dön</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
